Heating control - simple/Heating Control - Simple.json
[
    {
        "id": "f1a7d9a4c0e1a001",
        "type": "tab",
        "label": "Heating control - simple",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a1b2c3d4e5f60001",
        "type": "inject",
        "z": "f1a7d9a4c0e1a001",
        "d": true,
        "name": "Every 15 min",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "a4523da17c4c2023"
            ]
        ]
    },
    {
        "id": "c3d4e5f6a7b80003",
        "type": "function",
        "z": "f1a7d9a4c0e1a001",
        "name": "Decision Engine - with Priority",
        "func": "// =====================================\n// STEG 3 – BESLUTSMOTOR MED PRIORITET\n// =====================================\n\n// ---------- KONFIG ----------\nconst EXTREME_PRICE_THRESHOLD = 3.0; // kr/kWh\nconst LLVP_BREAK_TEMP = -5;          // °C\nconst TOWEL_MAX_TEMP = 15;           // °C\n\n// ---------- INDATA ----------\nconst t = msg.payload.outdoorTemp;\nconst month = msg.payload.month;\nconst now = new Date();\n\n// ---------- VALIDATION ----------\nif (t === undefined || month === undefined) {\n    node.warn(\"Missing temperature or month\");\n    return null;\n}\n\n// ---------- KVARTINDEX ----------\nconst quarterIndex =\n    Math.floor((now.getHours() * 60 + now.getMinutes()) / 15);\n\n// ---------- PRISBLOCK ----------\nconst blocks = flow.get(\"priceBlocks\");\nif (!blocks) {\n    node.warn(\"Price blocks not available\");\n    return null;\n}\n\nlet priceLevel = \"normal\";\n\nif (blocks.extremePrice) {\n    priceLevel = \"extreme\";\n} else if (blocks.mostExpensive5h.includes(quarterIndex)) {\n    priceLevel = \"expensive\";\n} else if (blocks.cheapest5h.includes(quarterIndex) ||\n           blocks.cheapest19h.includes(quarterIndex)) {\n    priceLevel = \"cheap\";\n}\n\n// ---------- SÄSONG ----------\nlet season;\nif (month >= 5 && month <= 9) {\n    season = \"summer\";\n} else if (month === 4 || month === 10) {\n    season = \"shoulder\";\n} else {\n    season = \"winter\";\n}\n\n// ---------- PRIORITETSBESLUT ----------\nlet allowRadiators = false;\nlet allowLLVP = false;\nlet allowTowel = false;\nlet reasons = [];\n\n// === 1. PRIS (HÖGSTA PRIORITET) ===\nif (priceLevel === \"extreme\") {\n    reasons.push(\"Extreme price: all discretionary heating blocked\");\n} else {\n\n    // === 2. SÄSONG ===\n    if (season === \"summer\") {\n        reasons.push(\"Summer season: no active heating\");\n    } else {\n\n        // === 3. TEMPERATURBASERAD LOGIK ===\n\n        // Radiatorer (endast vinter + ej dyr el)\n        if (season === \"winter\" && priceLevel !== \"expensive\") {\n            allowRadiators = true;\n            reasons.push(\"Radiators allowed (winter + acceptable price)\");\n        }\n\n        // Köks-LLVP\n        if (t <= LLVP_BREAK_TEMP) {\n            allowLLVP = true;\n            reasons.push(\"LLVP allowed (cold outdoor temp)\");\n        }\n\n        // Handdukstork\n        if (t < TOWEL_MAX_TEMP) {\n            allowTowel = true;\n            reasons.push(\"Towel heater allowed (below max temp)\");\n        }\n    }\n}\n\n// ---------- OUTPUT ----------\nmsg.state = {\n    timestamp: now.toISOString(),\n    quarterIndex,\n    priceLevel,\n    season,\n    outdoorTemp: t,\n    allowRadiators,\n    allowLLVP,\n    allowTowel,\n    reasons\n};\n\nreturn msg;\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "d4e5f6a7b8c90004"
            ],
            [
                "e5f6a7b8c9d00005"
            ]
        ]
    },
    {
        "id": "d4e5f6a7b8c90004",
        "type": "rbe",
        "z": "f1a7d9a4c0e1a001",
        "name": "RBE LLVP",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 770,
        "y": 40,
        "wires": [
            [
                "f6a7b8c9d0e10006"
            ]
        ]
    },
    {
        "id": "f6a7b8c9d0e10006",
        "type": "http request",
        "z": "f1a7d9a4c0e1a001",
        "name": "Shelly LLVP kitchen",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.45/relay/0?turn={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e5f6a7b8c9d00005",
        "type": "rbe",
        "z": "f1a7d9a4c0e1a001",
        "name": "RBE towel",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 140,
        "wires": [
            [
                "a7b8c9d0e1f20007"
            ]
        ]
    },
    {
        "id": "a7b8c9d0e1f20007",
        "type": "http request",
        "z": "f1a7d9a4c0e1a001",
        "name": "Shelly towel heater",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.154/relay/0?turn={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d053b4abeda2fb4f",
        "type": "shelly-cloud",
        "z": "f1a7d9a4c0e1a001",
        "server": "7e656bbc07ab7961",
        "description": "Shelly H&T",
        "outputs": 1,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "45f0f96a77fbccd8"
            ]
        ]
    },
    {
        "id": "a4523da17c4c2023",
        "type": "function",
        "z": "f1a7d9a4c0e1a001",
        "name": "Prepare status request",
        "func": "msg.payload = {\n    type: \"status\",\n    id: \"cb89d3\",\n    channel: 0\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 180,
        "wires": [
            [
                "d053b4abeda2fb4f"
            ]
        ]
    },
    {
        "id": "45f0f96a77fbccd8",
        "type": "function",
        "z": "f1a7d9a4c0e1a001",
        "name": "Trim to temperature, humidity and bat %",
        "func": "var outputs = [null, null, null];  // Three outputs: temp, hum, bat\n\nvar status = msg.payload;\nif (status && status.data && status.data.device_status) {\n    var ds = status.data.device_status;\n\n    if (ds.tmp && ds.tmp.value !== undefined) {\n        outputs[0] = {\n            payload: ds.tmp.value,\n            topic: \"temperature\"\n        };\n    }\n\n    if (ds.hum && ds.hum.value !== undefined) {\n        outputs[1] = {\n            payload: ds.hum.value,\n            topic: \"humidity\"\n        };\n    }\n\n    if (ds.bat && ds.bat.value !== undefined) {\n        outputs[2] = {\n            payload: ds.bat.value,\n            topic: \"battery\"\n        };\n    }\n}\n\nreturn outputs;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "c3d4e5f6a7b80003"
            ],
            [],
            []
        ]
    },
    {
        "id": "56e0f58619a756f8",
        "type": "inject",
        "z": "f1a7d9a4c0e1a001",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"outdoorTemp\": -8,   \"month\": 1,   \"priceLevel\": \"normal\" }",
        "payloadType": "json",
        "x": 290,
        "y": 20,
        "wires": [
            [
                "c3d4e5f6a7b80003"
            ]
        ]
    },
    {
        "id": "ccdae0cc76eee827",
        "type": "function",
        "z": "f1a7d9a4c0e1a001",
        "name": "Price Block Calculation",
        "func": "// ===============================\n// STEG 2 – KVARTSPRISBLOCK\n// ===============================\n\n// ---- INPUT ----\nconst prices = msg.payload.prices;\nif (!Array.isArray(prices) || prices.length !== 96) {\n    node.warn(\"Expected 96 quarter prices\");\n    return null;\n}\n\n// ---- KONFIG ----\nconst QUARTERS_PER_HOUR = 4;\nconst CHEAP_HOURS_5 = 5 * QUARTERS_PER_HOUR;\nconst CHEAP_HOURS_19 = 19 * QUARTERS_PER_HOUR;\nconst EXPENSIVE_HOURS_5 = 5 * QUARTERS_PER_HOUR;\nconst EXTREME_PRICE_THRESHOLD = 3.0; // kr/kWh\n\n// ---- HJÄLPFUNKTION ----\nfunction findCheapestBlock(length) {\n    let bestSum = Infinity;\n    let bestStart = 0;\n\n    for (let i = 0; i <= prices.length - length; i++) {\n        let sum = 0;\n        for (let j = 0; j < length; j++) {\n            sum += prices[i + j].price;\n        }\n        if (sum < bestSum) {\n            bestSum = sum;\n            bestStart = i;\n        }\n    }\n    return Array.from({ length }, (_, i) => bestStart + i);\n}\n\nfunction findMostExpensiveBlock(length) {\n    let worstSum = -Infinity;\n    let worstStart = 0;\n\n    for (let i = 0; i <= prices.length - length; i++) {\n        let sum = 0;\n        for (let j = 0; j < length; j++) {\n            sum += prices[i + j].price;\n        }\n        if (sum > worstSum) {\n            worstSum = sum;\n            worstStart = i;\n        }\n    }\n    return Array.from({ length }, (_, i) => worstStart + i);\n}\n\n// ---- BERÄKNING ----\nconst cheapest5h = findCheapestBlock(CHEAP_HOURS_5);\nconst cheapest19h = findCheapestBlock(CHEAP_HOURS_19);\nconst mostExpensive5h = findMostExpensiveBlock(EXPENSIVE_HOURS_5);\n\nconst extremePrice = prices.some(p => p.price >= EXTREME_PRICE_THRESHOLD);\n\n// ---- SPARA I FLOW CONTEXT ----\nflow.set(\"priceBlocks\", {\n    cheapest5h,\n    cheapest19h,\n    mostExpensive5h,\n    extremePrice\n});\n\n// ---- DEBUG ----\nnode.status({ text: \"Price blocks calculated\" });\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3df1a918e38c8763",
        "type": "inject",
        "z": "f1a7d9a4c0e1a001",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "05 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "ccdae0cc76eee827"
            ]
        ]
    },
    {
        "id": "2bf69ae356812db8",
        "type": "function",
        "z": "f1a7d9a4c0e1a001",
        "name": "Map groups to Shelly",
        "func": "// INPUT: msg.state från Step 3\nconst state = msg.state;\n\n// ---------- KONFIGURATION ----------\nconst shellyMap = {\n    \"RADIATORS_MAIN\": [\"192.168.1.178\", \"192.168.1.253\", \"192.168.1.62\",\"192.168.1.251\",\"192.168.1.106\"],   // flera Shelly\n    \"RADIATORS_VERANDA\": [\"192.168.1.250\"],\n    \"RADIATORS_WET\": [\"192.168.1.249\",\"192.168.1.154\"],\n    \"LLVP_KITCHEN\": [\"192.168.1.45\"]\n};\n\n// ---------- BESLUT ----------\nlet outMsgs = [];\n\n// Radiatorer huvud\nconst radiatorMainOn = state.allowRadiators;\nshellyMap.RADIATORS_MAIN.forEach(ip => {\n    outMsgs.push({ payload: radiatorMainOn ? \"on\" : \"off\", shellyIP: ip });\n});\n\n// Radiator veranda\nshellyMap.RADIATORS_VERANDA.forEach(ip => {\n    outMsgs.push({ payload: radiatorMainOn ? \"on\" : \"off\", shellyIP: ip });\n});\n\n// Radiator våt (lilla toan + handdukstork)\nconst radiatorWetOn = state.allowRadiators || state.allowTowel;\nshellyMap.RADIATORS_WET.forEach(ip => {\n    outMsgs.push({ payload: radiatorWetOn ? \"on\" : \"off\", shellyIP: ip });\n});\n\n// LLVP kök\nconst llvpOn = state.allowLLVP;\nshellyMap.LLVP_KITCHEN.forEach(ip => {\n    outMsgs.push({ payload: llvpOn ? \"on\" : \"off\", shellyIP: ip });\n});\n\n// Returnera array → split nod → RBE + HTTP\nreturn [outMsgs];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a9ee19b927cc4ade",
        "type": "function",
        "z": "f1a7d9a4c0e1a001",
        "name": "Finlir + runtime + hysteresis",
        "func": "// =========================================\n// STEG 5 – FINLIR: hysteresis + min runtime\n// =========================================\n\n// ---------- KONFIG ----------\nconst MIN_ON = 15 * 60 * 1000;      // 15 min i ms\nconst MIN_OFF = 5 * 60 * 1000;      // 5 min i ms\nconst HYST_TEMP = 0.5;              // °C\n\n// ---------- INPUT ----------\nconst state = msg.state;             // Steg 3 output\nconst now = Date.now();\nconst t = msg.state.outdoorTemp;\n\n// ---------- HÄMTA SENAST STATUS ----------\nlet lastStatus = flow.get(\"lastStatus\") || {};\n\n// ---------- UT DATA ARRAY ----------\nlet outMsgs = [];\n\n// Hjälpfunktion\nfunction checkHysteresis(name, desired, lastVal, lastTS) {\n    // Temperaturhysteresis\n    if (typeof lastVal === \"number\" && Math.abs(t - lastVal) < HYST_TEMP) {\n        return lastStatus[name] && lastStatus[name].state;\n    }\n    // Min runtime / min offtime\n    if (lastStatus[name]) {\n        const elapsed = now - lastStatus[name].ts;\n        if (desired && lastStatus[name].state && elapsed < MIN_ON) return true;\n        if (!desired && !lastStatus[name].state && elapsed < MIN_OFF) return false;\n    }\n    return desired;\n}\n\n// ---------- GRUPPER ----------\nconst groups = {\n    \"RADIATORS_MAIN\": state.allowRadiators,\n    \"RADIATORS_VERANDA\": state.allowRadiators,\n    \"RADIATORS_WET\": state.allowRadiators || state.allowTowel,\n    \"LLVP_KITCHEN\": state.allowLLVP\n};\n\n// ---------- APPLY HYST + MIN-RUNTIME ----------\nfor (let grp in groups) {\n    const desired = groups[grp];\n    const finalState = checkHysteresis(grp, desired, lastStatus[grp]?.temp, lastStatus[grp]?.ts);\n    outMsgs.push({ group: grp, payload: finalState ? \"on\" : \"off\" });\n\n    // Uppdatera flow context\n    flow.set(\"lastStatus\", {\n        ...lastStatus,\n        [grp]: { state: finalState, ts: now, temp: t }\n    });\n}\n\n// ---------- RETURN ----------\nreturn [outMsgs];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7e656bbc07ab7961",
        "type": "shelly-cloud-server",
        "description": ""
    }
]