Esters element/Esters element.json
[
    {
        "id": "225fa355a1d01ab9",
        "type": "tab",
        "label": "Esters element",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2d9f9e2271cc3ae",
        "type": "comment",
        "z": "225fa355a1d01ab9",
        "name": "Kör inte fyra dyraste timmarna",
        "info": "",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "458ac8acfbe1e2c5",
        "type": "comment",
        "z": "225fa355a1d01ab9",
        "name": "Kör inte april-oktober",
        "info": "",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "196f2c5167f2b3ed",
        "type": "function",
        "z": "225fa355a1d01ab9",
        "name": "Är i fyra dyraste timmarna?",
        "func": "let nu = new Date();\n\nnu.setMinutes(0, 0, 0);\n\nnu = nu.toISOString();\n\nnu = nu.substring(0, nu.indexOf(':'));\n\nlet nordpoolArray = global.get(\"NordpoolTrimmed\") || [];\n\nmsg.payload = false;\n\n// Loopa de fem dyraste timmarna\nfor (let i = nordpoolArray.length-1; i > nordpoolArray.length-5; i--) {\n//    node.warn(`i är ${JSON.stringify(i)} och nu är = ${JSON.stringify(nu)}`);\n\n    if (nordpoolArray[i].timestamp === nu) {\n//        node.warn(`Match i är ${JSON.stringify(i)} och nu är = ${JSON.stringify(nu)}`);\n        msg.payload = true;\n        break;\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [
            [
                "f2a658b5a2d75848"
            ]
        ]
    },
    {
        "id": "1e5d3da69610bff7",
        "type": "inject",
        "z": "225fa355a1d01ab9",
        "name": "Every Minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "57a30dbfbc524aae"
            ]
        ]
    },
    {
        "id": "9f026fc7ad3f6d2c",
        "type": "rbe",
        "z": "225fa355a1d01ab9",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "196f2c5167f2b3ed"
            ]
        ]
    },
    {
        "id": "57a30dbfbc524aae",
        "type": "function",
        "z": "225fa355a1d01ab9",
        "name": "Get Hour",
        "func": "function gethour() {\n var date = new Date();\n var hour = (\"0\"+date.getHours()).substr(-2);\n return hour;\n}\n\nvar hour = gethour();\n\nreturn { payload : hour };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "9f026fc7ad3f6d2c"
            ]
        ]
    },
    {
        "id": "9f375f41b7ec755b",
        "type": "switch",
        "z": "225fa355a1d01ab9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "bea2ae162adf84c4"
            ]
        ]
    },
    {
        "id": "bea2ae162adf84c4",
        "type": "http request",
        "z": "225fa355a1d01ab9",
        "name": "Esters element OFF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.106/relay/0?turn=off&timer=3600",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f2a658b5a2d75848",
        "type": "function",
        "z": "225fa355a1d01ab9",
        "name": "November-Mars?",
        "func": "let today = new Date();\nlet month = today.getMonth(); // getMonth() returns 0 for January, 1 for February, ..., 10 for November, 11 for December\n\nlet isNovemberToMarch = (month >= 10 || month <= 2);\n\nif (isNovemberToMarch) {\n    // node.warn(\"It is between November and March.\");\n    msg.payload = true;\n} else {\n    // node.warn(\"It is not between November and March.\");\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 400,
        "wires": [
            [
                "9f375f41b7ec755b",
                "2b53f856c25933a2"
            ]
        ]
    },
    {
        "id": "2b53f856c25933a2",
        "type": "switch",
        "z": "225fa355a1d01ab9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "e530982c168384ed"
            ]
        ]
    },
    {
        "id": "e530982c168384ed",
        "type": "http request",
        "z": "225fa355a1d01ab9",
        "name": "Esters element OFF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.106/relay/0?turn=off",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "213d04cc442f7137",
        "type": "comment",
        "z": "225fa355a1d01ab9",
        "name": "Återgår till f.g. state efter 60 min",
        "info": "",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "1bbb1c8384ea4ea5",
        "type": "comment",
        "z": "225fa355a1d01ab9",
        "name": "Stänger av tills vidare om april-oktober",
        "info": "",
        "x": 1030,
        "y": 480,
        "wires": []
    },
    {
        "id": "1850d75e2248e23b",
        "type": "comment",
        "z": "225fa355a1d01ab9",
        "name": "Kör endast november-mars",
        "info": "",
        "x": 420,
        "y": 120,
        "wires": []
    }
]