VV-beredaren/VV-beredaren.json
[
    {
        "id": "151536c0486e14f0",
        "type": "tab",
        "label": "VV-beredaren",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acbd43d58ea228e6",
        "type": "comment",
        "z": "151536c0486e14f0",
        "name": "Kör inte 5 dyraste timmarna",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "351c5deea18281be",
        "type": "function",
        "z": "151536c0486e14f0",
        "name": "Är i fem dyraste timmarna?",
        "func": "// Ger ISO tid\nlet nu = new Date();\nnu.setMinutes(0, 0, 0);\nnu = nu.toISOString();\nnu = nu.substring(0, nu.indexOf(':'));\n\nlet nordpoolArray = global.get(\"NordpoolTrimmed\") || [];\n\nmsg.payload = false;\n\n// Loopa de fem dyraste timmarna\nfor (let i = nordpoolArray.length-1; i >= nordpoolArray.length-5; i--) {\n//    node.warn(`i är ${JSON.stringify(i)} och nu är = ${JSON.stringify(nu)}`);\n\n    if (nordpoolArray[i].timestamp === nu) {\n//        node.warn(`Match i är ${JSON.stringify(i)} och nu är = ${JSON.stringify(nu)}`);\n        msg.payload = true;\n        break;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 160,
        "wires": [
            [
                "48f2a8e38adde0d7",
                "64e88cc09079e183"
            ]
        ]
    },
    {
        "id": "e5c7109472069719",
        "type": "inject",
        "z": "151536c0486e14f0",
        "name": "Every Minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "d51388bfd16445fb"
            ]
        ]
    },
    {
        "id": "69028b4254565d6e",
        "type": "rbe",
        "z": "151536c0486e14f0",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "629b58204223f41f",
                "509f049532e5eef8"
            ]
        ]
    },
    {
        "id": "d51388bfd16445fb",
        "type": "function",
        "z": "151536c0486e14f0",
        "name": "Get Hour",
        "func": "function gethour() {\n var date = new Date();\n var hour = (\"0\"+date.getHours()).substr(-2);\n return hour;\n}\n\nvar hour = gethour();\n\nreturn { payload : hour };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "69028b4254565d6e",
                "ac92f307a37a4163"
            ]
        ]
    },
    {
        "id": "48f2a8e38adde0d7",
        "type": "switch",
        "z": "151536c0486e14f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "19412abe0f1fc205"
            ]
        ]
    },
    {
        "id": "19412abe0f1fc205",
        "type": "http request",
        "z": "151536c0486e14f0",
        "name": "VV-beredare OFF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.253/relay/0?turn=off&timer=3600",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 320,
        "wires": [
            [
                "67b19e6bc067c109"
            ]
        ]
    },
    {
        "id": "e3c41557e6e3fd95",
        "type": "inject",
        "z": "151536c0486e14f0",
        "name": "Once a day at 00:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "75ef98ee2fbf0d84",
                "68316ac41cfcc2c7"
            ]
        ]
    },
    {
        "id": "75ef98ee2fbf0d84",
        "type": "http request",
        "z": "151536c0486e14f0",
        "name": "VV-beredare ON",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.253/relay/0?turn=on",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "351c5deea18281be",
                "b2ce4c5ddb7c3789"
            ]
        ]
    },
    {
        "id": "51feb58271de9c8b",
        "type": "comment",
        "z": "151536c0486e14f0",
        "name": "Slår på VV-beredaren om man glömt den av",
        "info": "",
        "x": 570,
        "y": 540,
        "wires": []
    },
    {
        "id": "5965d9855f0684af",
        "type": "comment",
        "z": "151536c0486e14f0",
        "name": "Återgår till f.g. state efter 60 min",
        "info": "",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "35dfb497a7ad97f9",
        "type": "comment",
        "z": "151536c0486e14f0",
        "name": "Slår av VV-beredaren om dyrt ifall körs efter Every Minute flödet",
        "info": "",
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "64e88cc09079e183",
        "type": "debug",
        "z": "151536c0486e14f0",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 80,
        "wires": []
    },
    {
        "id": "629b58204223f41f",
        "type": "delay",
        "z": "151536c0486e14f0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "351c5deea18281be"
            ]
        ]
    },
    {
        "id": "68316ac41cfcc2c7",
        "type": "debug",
        "z": "151536c0486e14f0",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 720,
        "wires": []
    },
    {
        "id": "67b19e6bc067c109",
        "type": "debug",
        "z": "151536c0486e14f0",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "509f049532e5eef8",
        "type": "debug",
        "z": "151536c0486e14f0",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "ac92f307a37a4163",
        "type": "debug",
        "z": "151536c0486e14f0",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "b2ce4c5ddb7c3789",
        "type": "debug",
        "z": "151536c0486e14f0",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 500,
        "wires": []
    }
]