Stäng av om för dyrt/Stäng av om för dyrt.json
[
    {
        "id": "f8c02d1f4f15fc80",
        "type": "tab",
        "label": "Stäng av om för dyrt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "056d517425a78e41",
        "type": "function",
        "z": "f8c02d1f4f15fc80",
        "name": "Om > prisTak",
        "func": "let nu = new Date();\n\nnu.setMinutes(0, 0, 0);\n\nnu = nu.toISOString();\n\nnu = nu.substring(0, nu.indexOf(':'));\n\n// check if current hour price is above prisTak\nlet nordpoolArray = global.get(\"NordpoolTrimmed\") || [];\nlet prisTak = global.get(\"prisTak\");\n\nfor (let i = 0; i < nordpoolArray.length; i++) {\n\n    if (nordpoolArray[i].timestamp === nu) {\n //       node.warn(`klockan UTC är nu= ${JSON.stringify(nu)} och nordpoolarray[i] är = ${JSON.stringify(nordpoolArray[i].timestamp)}`)\n //       node.warn(`nordpoolarray[i].price är ${JSON.stringify(nordpoolArray[i].price)} och prisTak är = ${JSON.stringify(prisTak)}`)\n\n\n        if (nordpoolArray[i].price >= prisTak) {\n            msg.payload = true;\n //           node.warn(`Found matching element: ${JSON.stringify(nordpoolArray[i])}`);\n        } else {\n            msg.payload = false;\n  //          node.warn(`No matching element found ${JSON.stringify(nordpoolArray)}`);\n        }\n    }\n\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "e7ab99d2590026ba"
            ]
        ]
    },
    {
        "id": "03b7f5ac51d662b5",
        "type": "http request",
        "z": "f8c02d1f4f15fc80",
        "name": "VV-beredare OFF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.253/relay/0?turn=off&timer=3600",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7343bcc3ea58c01d",
        "type": "http request",
        "z": "f8c02d1f4f15fc80",
        "name": "VV-pump kök OFF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.45/relay/0?turn=off&timer=3600",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "55e28d1b2802c8e0",
        "type": "http request",
        "z": "f8c02d1f4f15fc80",
        "name": "Krypgrundsavfuktare OFF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.76/relay/0?turn=off&timer=3600",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b97b840d495b3463",
        "type": "http request",
        "z": "f8c02d1f4f15fc80",
        "name": "Esters element OFF",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.106/relay/0?turn=off&timer=3600",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e7ab99d2590026ba",
        "type": "switch",
        "z": "f8c02d1f4f15fc80",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 440,
        "wires": [
            [
                "7343bcc3ea58c01d",
                "03b7f5ac51d662b5",
                "55e28d1b2802c8e0",
                "b97b840d495b3463"
            ]
        ]
    },
    {
        "id": "607ad92bda3e1e00",
        "type": "comment",
        "z": "f8c02d1f4f15fc80",
        "name": "Stänger av maskiner 60 min om priset > prisTak",
        "info": "",
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "277ea1335d57cf8c",
        "type": "inject",
        "z": "f8c02d1f4f15fc80",
        "name": "Every Minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "cf1bc65faa9ec718"
            ]
        ]
    },
    {
        "id": "85ced723930f2b09",
        "type": "rbe",
        "z": "f8c02d1f4f15fc80",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "056d517425a78e41"
            ]
        ]
    },
    {
        "id": "cf1bc65faa9ec718",
        "type": "function",
        "z": "f8c02d1f4f15fc80",
        "name": "Get Hour",
        "func": "function gethour() {\n var date = new Date();\n var hour = (\"0\"+date.getHours()).substr(-2);\n return hour;\n}\n\nvar hour = gethour();\n\nreturn { payload : hour };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "85ced723930f2b09"
            ]
        ]
    }
]